name: Generate Snake Animation

on:
  schedule:
    # Actualiza el gráfico de la serpiente cada día a medianoche UTC
    - cron: "0 0 * * *"
  workflow_dispatch: # Permite ejecutar manualmente

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Generate Snake Game
        uses: Platane/snk@master
        id: snake-gif
        with:
          github_user_name: robpalacios1
          gif_out_path: dist/github-contribution-grid-snake.gif
          svg_out_path: dist/github-contribution-grid-snake.svg
          
      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

